<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="credit" class="partha.cards.CreditCardPay"/>
    
    <bean id="debit" class="partha.cards.DebitCardPay" />
    
    <bean id="amex" class="partha.cards.AmexCard" />
    
    <bean id="payment" class="partha.cards.PaymentProcessing">
    <property name="pay" ref="credit">
    
    </property>
    </bean>
    

</beans>